.dropdown {
  position: relative;
  display: inline-block;
}

.trigger {
  font: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  background-color: var(--white);
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background: var(--white);
  z-index: 20;
  cursor: pointer;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  margin: 0;
  border-top: 1px solid var(--gray200);
  width: 100%;
}
