.product-container {
  color: #1f2937;
}

.product-info-section {
  display: flex;
  gap: 24px;
  padding-bottom: 32px;
  border-bottom: 1px solid #e5e7eb;
}

.product-info-section .product-img {
  display: block;
  flex-basis: 486px;
  width: 486px;
  height: 486px;
  border-radius: 28.59px;
  background-color: #f9fafb;
  object-fit: cover;
}

.product-info-section .product-name-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.product-info-section .product-name {
  font-size: 24px;
  font-weight: 600;
}

.product-info-section .product-more-btn {
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.product-info-section .order-dropdown {
  position: absolute;
  right: 0;
  top: 30px;
  margin-top: 4px;
  width: 139px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

.product-info-section .order-option {
  padding: 16px 0 12px;
  width: 100%;
  height: 46px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 26px; */
  color: #6b7280;
}

.product-info-section .order-option.delete {
  padding: 12px 17px 16px;
}

.product-info-section .product-price {
  margin-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 40px;
  font-weight: 600;
}

.product-info-section .product-description-title,
.product-info-section .product-tag-title {
  font-size: 14px;
  font-weight: 500;
  color: #4b5563;
}

.product-info-section .product-description-title {
  margin-top: 16px;
}

.product-info-section .product-description {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}

.product-info-section .product-tag-title {
  margin-top: 24px;
  margin-bottom: 8px;
}

.product-info-section .product-tag-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
}

.product-info-section .product-tag {
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  border-radius: 26px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f3f4f6;
}

.product-info-section .product-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 24px;
  padding: 4px 12px;
  height: 40px;
  border: 1px solid #e5e7eb;
  border-radius: 35px;
  font-size: 16px;
  font-weight: 500;
  color: #6b7280;
  background-color: #fff;
  cursor: pointer;
}

.product-info-section .product-favorite > img {
  width: 32px;
  height: 32px;
}

.product-inquiry-section {
  margin-top: 24px;
}

.product-inquiry-section > label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #111827;
}

.product-inquiry-section > textarea {
  margin-top: 16px;
  padding: 16px 24px;
  width: 100%;
  height: 104px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
  background-color: #f3f4f6;
  outline: none;
  resize: none;
}

.product-inquiry-section > textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #9ca3af;
}

.product-inquiry-section .inquiry-btn-wrap {
  display: flex;
  justify-content: flex-end;
}

.product-inquiry-section .inquiry-btn-wrap > button {
  margin-top: 16px;
  padding: 0;
  line-height: 0;
  width: 74px;
  height: 42px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: var(--main-color);
  cursor: pointer;
}

.product-inquiry-section .inquiry-btn-wrap > button:disabled {
  background-color: #9ca3af;
  cursor: default;
}

.product-comment-section .product-comment-wrap {
  padding: 24px 0;
  border-bottom: 1px solid #e5e7eb;
}

.product-comment-section .product-comment-wrap .product-comment-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.product-comment-section .product-comment {
  font-size: 16px;
  font-weight: 400;
}

.product-comment-section .product-comment-btn {
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.product-comment-section .order-dropdown {
  position: absolute;
  right: 0;
  top: 30px;
  margin-top: 4px;
  width: 139px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

.product-comment-section .order-option {
  padding: 16px 0 12px;
  width: 100%;
  height: 46px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 26px; */
  color: #6b7280;
}

.product-comment-section .order-option.delete {
  padding: 12px 17px 16px;
}

.product-comment-section .product-comment-top-edit {
  width: 100%;
  height: 80px;
}

.product-comment-section .product-comment-top-edit label {
  display: none;
}

.product-comment-section .product-comment-top-edit textarea {
  padding: 16px 24px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--cool-gray-800);
  background-color: var(--cool-gray-100);
  outline: none;
  resize: none;
}
.product-comment-section .product-comment-top-edit textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #9ca3af;
}

.product-comment-section .product-comment-bottom {
  display: flex;
  justify-content: space-between;
}

.product-comment-section .product-profile-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}

.product-comment-section .product-profile-edit-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.product-comment-section .product-profile-img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #9ca3af;
}

.product-comment-section .product-profile-name {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #4b5563;
}

.product-comment-section .product-profile-time {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #9ca3af;
}

.product-comment-section .product-comment-edit {
  display: flex;
  gap: 10px;
  margin-top: 16px;
}

.product-comment-section .product-comment-edit .comment-cancel {
  width: 68px;
  height: 42px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #737373;
  background-color: #fff;
  cursor: pointer;
}

.product-comment-section .product-comment-edit .comment-edit {
  width: 106px;
  height: 42px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: var(--cool-gray-100);
  background-color: var(--main-color);
  cursor: pointer;
}
.product-comment-section .product-comment-edit .comment-edit:disabled {
  background-color: #9ca3af;
  color: #fff;
  cursor: default;
}

.product-inquiry-img-wrap {
  width: 200px;
  margin: 0 auto;
}

.product-inquiry-img-wrap > img {
  width: 200px;
  height: 200px;
}

.product-inquiry-img-wrap > div {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #9ca3af;
}

.product-back-link {
  display: block;
  margin: 40px auto 0;
  width: 240px;
  height: 48px;
  text-decoration: none;
}

.product-back-link.margin-top {
  margin-top: 24px;
}

.product-back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 240px;
  height: 48px;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #3692ff;
  cursor: pointer;
  white-space: nowrap;
}

.product-back-btn > span {
  font-size: 18px;
  font-weight: 600;
}

.product-back-btn > img {
  width: 24px;
  height: 24px;
}

/* PC */
@media screen and (min-width: 1200px) {
  .product-container {
    width: 100%;
    max-width: 1200px;
    margin: 70px auto 0;
    padding: 24px 0 250px;
  }

  .product-info-section .product-info-wrap {
    flex-basis: 690px;
  }

  .product-info-section .product-price {
    width: 680px;
  }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product-container {
    width: 100%;
    margin-top: 70px;
    padding: 24px 24px 326px;
  }
  .product-info-section {
    gap: 16px;
    padding-bottom: 24px;
  }

  .product-info-section .product-info-wrap {
    flex-basis: 100%;
  }

  .product-info-section .product-img {
    flex-basis: 100%;
    width: 40%;
    height: 100%;
    aspect-ratio: 1 / 1;
  }

  .product-info-section .product-name {
    font-size: 20px;
  }

  .product-info-section .product-price {
    margin-top: 12px;
    padding-bottom: 16px;
    width: 100%;
    font-size: 32px;
  }
}

/* mobile */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .product-container {
    width: 100%;
    margin-top: 70px;
    padding: 16px 16px 166px 16px;
  }

  .product-info-section {
    flex-direction: column;
    gap: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e5e7eb;
  }

  .product-info-section .product-img {
    flex-basis: 100%;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
  }

  .product-info-section .product-name {
    font-size: 16px;
  }

  .product-info-section .product-price {
    margin-top: 8px;
    padding-bottom: 16px;
    width: 100%;
    font-size: 24px;
  }

  .product-info-section .product-favorite {
    height: 32px;
  }

  .product-info-section .product-favorite > img {
    width: 24px;
    height: 24px;
  }

  .product-inquiry-section {
    margin-top: 16px;
  }
}
