@mixin font-style($size, $weight, $lineHeight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $lineHeight;
}

.loadingContainer {
  width: 486px;
  height: 486px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.productDetailsMain {
  display: flex;
  flex-direction: column;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 24px 0 60px;

  h1 {
    @include font-style(24px, 600, 28.64px, var(--gray800));
  }

  h2 {
    @include font-style(40px, 600, 47.73px, var(--gray800));
  }

  h3 {
    @include font-style(14px, 500, 16.71px, var(--gray800));
  }

  .dividerLine {
    border: 1px solid var(--gray200);
    margin-bottom: 16px;
  }

  p {
    @include font-style(16px, 400, 22.4px, var(--gray800));
  }

  span {
    @include font-style(16px, 400, 24px, var(--gray800));
  }

  .kebabImage {
    cursor: pointer;
  }

  .goBackButton {
    margin: 40px auto 40px;
    background-color: var(--activate-button-blue);
    padding: 12px 71px 12px 71px;
    border-radius: 40px;
    @include font-style(18px, 600, 24px, white);
    font-family: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .productDetailsWrapper {
    .productDetails {
      display: flex;
      gap: 24px;

      margin-bottom: 32px;

      #productImage {
        width: 486px;
        height: 486px;
        object-fit: cover;
      }
    }

    .productInfo {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .titleWrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
      }

      .kebabImage {
        width: 24px;
        height: 24px;
      }

      h2 {
        margin-bottom: 16px;
      }

      #dividerLine {
        margin-bottom: 16px;
        width: 680px;
      }

      h3 {
        margin-bottom: 8px;
      }

      p {
        margin-bottom: 23px;
        overflow-wrap: break-word;
      }

      .productTagsWrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 24px;

        .productTags {
          display: inline-block;
          padding: 6px 16px 6px 16px;
          background-color: var(--gray100);
          border-radius: 26px;
          cursor: pointer;
        }
      }

      .favoriteButton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        width: 87px;
        height: 40px;

        padding: 4px 12px 4px 12px;
        border: 1px solid var(--gray200);
        border-radius: 35px;

        img {
          width: 32px;
          height: 32px;
        }

        h3 {
          margin: 0;
          @include font-style(16px, 500, 19.09px, var(--gray500));
        }
      }
    }
    #centerLine {
      margin-bottom: 24px;
    }
  }

  .commentsSection {
    .comment-form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: flex-start;
      margin-bottom: 24px;

      h3 {
        @include font-style(16px, 600, 19.09px, var(--gray900));
      }

      textarea {
        width: 100%;
        height: 104px;
        border: none;
        border-radius: 12px;
        padding: 16px 24px 16px 24px;

        background-color: var(--gray100);
      }

      textarea::placeholder {
        @include font-style(16px, 400, 24px, var(--gray400));
      }

      button {
        font-family: inherit;
        padding: 12px 23px 12px 23px;
        border-radius: 8px;
        background-color: var(--activate-button-blue);
        @include font-style(16px, 600, 19.09px, white);
        align-self: flex-end;
      }

      button:disabled {
        background-color: var(--gray400);
        cursor: not-allowed;
      }
    }

    p {
      @include font-style(16px, 400, 22.4px, var(--gray800));
    }

    img {
      width: 40px;
      height: 40px;
    }

    .comment {
      margin-bottom: 24px;

      .commentContentWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;

        img {
          width: 24px;
          height: 24px;
        }
      }
      .writerWrapper {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
          width: 40px;
          height: 40px;

          background-color: lightblue;
        }

        .nicknameWrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 4px;

          h3 {
            @include font-style(14px, 400, 16.71px, var(--gray600));
          }

          h4 {
            @include font-style(12px, 400, 14.32px, var(--gray400));
          }
        }
      }
    }

    .emptyComment {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 200px;
        height: 200px;
      }

      h3 {
        @include font-style(16px, 400, 24px, var(--gray400));
      }
    }
  }
}

/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .productDetailsMain {
    width: 100%;

    .loadingContainer {
      width: 340px;
      height: 340px;
    }

    .productDetailsWrapper {
      .productDetails {
        gap: 16px;
        margin-bottom: 24px;
        #productImage {
          width: 340px;
          height: 340px;
        }

        .productInfo {
          .detailsWrapper {
            .titleWrapper {
              margin-bottom: 12px;

              h1 {
                @include font-style(20px, 600, 23.87px, var(--gray800));
              }
            }
            h2 {
              @include font-style(32px, 600, 38.19px, var(--gray800));
              margin-bottom: 16px;
            }

            .dividerLine {
              margin-bottom: 16px;
            }

            h3 {
              @include font-style(14px, 500, 16.71px, var(--gray600));
              margin-bottom: 8px;
            }

            p {
              margin-bottom: 24px;
            }
          }
        }
      }
    }
  }
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  .productDetailsMain {
    width: 100%;

    .loadingContainer {
      width: 100%;
      height: 100%;
    }

    .productDetailsWrapper {
      .productDetails {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;
        #productImage {
          width: 100%;
          height: 100%;
        }

        .productInfo {
          .detailsWrapper {
            .titleWrapper {
              margin-bottom: 8px;

              h1 {
                @include font-style(16px, 600, 19.09px, var(--gray800));
              }
            }
            h2 {
              @include font-style(24px, 600, 28.64px, var(--gray800));
              margin-bottom: 16px;
            }

            .dividerLine {
              margin-bottom: 16px;
            }

            h3 {
              @include font-style(14px, 500, 16.71px, var(--gray600));
              margin-bottom: 8px;
            }

            p {
              margin-bottom: 24px;
            }
          }
        }
      }
    }

    .commentsSection {
      .comment-form {
        margin-bottom: 16px;
        textarea::placeholder {
          @include font-style(14px, 400, 24px, var(--gray400));
        }
      }
    }
  }
}
