@import "mixins";

.button {
  padding: 12px 23px;
  background-color: var(--activate-button-blue);
  border-radius: 8px;
  @include font-style(16px, 600, 19.09px, var(--white));
  font-family: inherit;

  &:hover {
    background-color: var(--hover-blue);
  }

  &:focus {
    background-color: var(--focus-blue);
  }

  &:disabled {
    background-color: var(--disable-button-gray);
    pointer-events: visible;
    cursor: not-allowed;
  }
}
