* {
  color: #1f2937;
  font-family: Pretendard;
}
.defatil-info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 24px;
}
.detailInfo {
  margin-top: 24px;
  display: flex;
}
.Info-wrapper {
  width: 100%;
}
.Info-wrapper-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.detailItem-name {
  font-size: 24px;
  font-weight: 600;
}
.detailItem-price {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}
.top-wrapper-line {
  width: 100%;
  border: 1px solid #e5e7eb;
  margin-bottom: 16px;
}
.top-wrapper-title {
  font-size: 14px;
  font-weight: 500;
  color: #4b5563;
  margin-bottom: 8px;
}
.detailItem-description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 23px;
  line-height: 22.4px;
}
.detailItem-tags {
  display: inline-block;
  padding: 6px 16px;
  background-color: #f3f4f6;
  margin-right: 8px;
  border-radius: 26px;
}
.favorite-count {
  margin-left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6b7280;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  padding: 4px 12px;
  border-radius: 35px;
  gap: 4px;
}
.favorite-count-number {
  font-size: 16px;
  font-weight: 500;
}
.line {
  width: 100%;
  border: 1px solid #e5e7eb;
  margin-top: 32px;
  margin-bottom: 24px;
}
.inquiry {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 16px;
}
.inquiry-box {
  width: 100%;
  height: 104px;
  padding: 16px 24px;
  border-radius: 12px;
  border: none;
  background-color: #f3f4f6;
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-bottom: 16px;
  resize: none;
  line-height: 24px;
}
.inquiry-box::placeholder {
  color: #9ca3af;
}
.middle-wrapper-button {
  padding: 12px 23px;
  background-color: #3692ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 24px;
  font-size: 16px;
}
.middle-wrapper-button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}
.button-container {
  display: flex;
  justify-content: flex-end;
}
.comment-content {
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
  margin-bottom: 24px;
}
.comment-content-button {
  display: flex;
  justify-content: space-between;
}
.comment-edit-mode {
  display: flex;
  flex-direction: column;
}
.edit-textarea {
  width: 1200px;
  height: 80px;
  border-radius: 12px;
  padding: 16px 24px;
  background-color: #f3f4f6;
  border: none;
  resize: none;
}
.button-container{
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.cancel-button {
  background-color: unset;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #737373;
}
.save-button {
  background-color: #3692ff;
  padding: 12px 23px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #f3f4f6;
}
.hidden {
  display: none;
}
.user-button-container{
  display: flex;
  justify-content: space-between;
  margin-top:16px;
}
.comment-wrapper-img {
  display: flex;
  gap: 8px;
}
.comment-wrapper-user {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.comment-user {
  font-size: 14px;
  font-weight: 400;
  color: #4b5563;
}
.comment-time {
  font-size: 12px;
  font-weight: 400;
  color: #9ca3af;
}
.list-button {
  border-radius: 40px;
  padding: 12px 71px;
  background-color: #3692ff;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  gap: 10px;
  width: 240px;
  white-space: nowrap;
}
.comment-link {
  text-decoration: none;
  margin: 0 auto;
  width: 240px;
  display: block;
}
.comment-empty-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment-empty {
  color: #9ca3af;
  margin-bottom: 24px;
}
.dropdown-button {
  background-color: unset;
  position: relative;
}
.dropdown-container {
  position: absolute;
  top: 0;
  left: 100%;
  width: 139px;
  height: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #6b7280;
  display: flex;
  flex-direction: column;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}
.dropdown-item-edit {
  padding: 16px 0px 12px 0px;
  background-color: #ffffff;
  border-radius: 8px;
}
.dropdown-item-delete {
  padding: 12px 17px 16px 17px;
  background-color: #ffffff;
  border-radius: 8px;
}
.addItem-user-container {
  display: flex;
  align-items: center;
  margin-top: 62px;
}
.addItem-user-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.addItem-user-name-container {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  row-gap: 2px;
  font-size: 14px;
  line-height: 24px;
}
.addItem-user-name {
  font-weight: 500;
  color: #4b5563;
}
.addItem-user-date {
  font-weight: 400;
  color: #9ca3af;
}
.addItem-line {
  height: auto;
  border: 1px solid #e5e7eb;
}
.addItem-favorite-count {
  display: flex;
}
.detail-info-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 24px;
}
.img-detail {
  object-fit: contain;
}

@media (min-width: 1200px) {
  .detail-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .detail-wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
  .img-detail {
    width: 340px;
    height: 100%;
  }
  .top-wrapper-line {
    width: 100%;
  }
  .detailItem-tags {
    margin-bottom: 10px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .detail-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .detailInfo {
    display: flex;
    flex-direction: column;
  }
  .detail-info-wrapper {
    margin-left: 0;
    margin-top: 16px;
  }
  .img-detail {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
  }
}
