.usedMarketPage-main {
  width: 1200px;
  margin: 0 auto 24px;
  padding-top: 24px;
}

.best-products {
  margin: 0px auto 40px;
}

h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #111827;
}

.list span {
  display: inline-block;
}

.item-image {
  width: 282px;
  height: 282px;
}

.list-area {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 24px;
}

.item-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#item-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  color: #1f2937;
}

#item-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 16.71px;
  color: #1f2937;
}

#item-favorite {
  font-weight: 500;
  font-size: 12px;
  line-height: 14.32px;
  color: #4b5563;
}

.favorite-area {
  display: flex;
  align-items: center;
  gap: 4px;
}

#favorite-image {
  width: 16px;
  height: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}

/* allItemList */
.all-products-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-image.all-item {
  width: 221px;
  height: 221px;
  object-fit: cover;
  border-radius: 16px;
}

.list-area.all-area {
  gap: 23.75px;
  flex-wrap: wrap;
}

.list.all-list {
  flex: 0 0 calc(20% - 23.75px);
}

form {
  display: flex;
  gap: 12px;
  width: 100%;
}

.search-bar {
  display: flex;
  gap: 12px;
}

#search-input {
  width: 325px;
  height: 42px;
  border-radius: 12px;
  background-color: #f3f4f6;
  border: none;
  padding: 0 0 0 44px;
}

.search-area {
  position: relative;
}

#search-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}

.search-bar input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9ca3af;
  font-family: Pretendard;
}

/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: white;
  border: 1px solid #e5e7eb;
  padding: 12px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}

.arrow {
  margin-left: 10px;
}

.dropdown-menu {
  position: absolute;

  background-color: white;
  border: 1px solid #e5e7eb;
  width: 100%;
  list-style-type: none;
  padding: 0;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu li {
  cursor: pointer;
  padding: 9px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1f2937;
  text-align: center;
}

.dropdown-menu > :nth-child(1):hover {
  background-color: #f0f0f0;
  border-radius: 12px 12px 0 0;
}

.dropdown-menu > :nth-child(2):hover {
  background-color: #f0f0f0;
  border-radius: 0 0 12px 12px;
}

/* pagination */
.pagination {
  margin-top: 40px;
}

.page-nums {
  display: flex;
  align-items: center;
  gap: 4px;
}

.circle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: white;
  color: #6b7280;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  border: 1px solid #e5e7eb;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.circle.active {
  background-color: var(--activate-button-blue);
  color: white;
}

.circle.disabled {
  border: 1px solid #f3f4f6;
  cursor: default;
}

.arrow-image.disabled {
  opacity: 0.3;
}

/* Desktop Styles */
@media screen and (min-width: 1200px) {
}

/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .usedMarketPage-main {
    width: 100%;
  }

  .item-image {
    width: 100%;
    height: 100%;
  }

  .item-image.all-item {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
  }

  .list-area.all-area {
    gap: 16px;
  }

  .list-area a {
    flex: 0 0 calc(50% - 16px);
  }

  .all-area a {
    flex: 0 0 calc(33.33% - 16px);
  }

  .list.all-list {
    width: 100%;
    height: 100%;
  }
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  .usedMarketPage-main {
    width: 100%;
  }

  .item-image {
    width: 100%;
    height: 100%;
  }

  .list-area a {
    width: 100%;
  }

  .item-image.all-item {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
  }

  .list-area.all-area {
    gap: 8px;
  }

  .all-area a {
    flex: 0 0 calc(50% - 8px);
  }

  .list.all-list {
    width: 100%;
    height: 100%;
  }

  .all-products-bar {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }

  .search-bar {
    margin: 15px 0;
    width: 100%;
  }

  .search-area {
    width: 100%;
    display: flex;
    align-items: center;
  }

  #search-input {
    width: 100%;
  }

  #add-item-button {
    position: absolute;
    top: 15px;
    transform: translateY(-50%);
    right: 0;
  }

  .dropdown-toggle {
    background-color: white;
    border: 1px solid #e5e7eb;
    padding: 24px;
    border-radius: 12px;
    position: relative;
  }

  #dropdown-img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    position: absolute;
  }

  .dropdown-menu {
    width: 130px;
    right: 0;
  }
}
